#aboutMe {
  background-color: #010101;
  padding-bottom: 50px;
  height: 80vh;
}

.slicer {
  width: 100%;
  height: 10vw;
  margin: 0;
  fill: #171717;
}

.slicer:first-child {
  margin-bottom: 50px;
}

.about-me-card-container {
  display: flex;
  flex-wrap: wrap-reverse;

  height: 500px;
}

.about-me-card {
  max-width: 80%;
  display: flex;
  margin: 0 auto;
  background-color: #171717;
  color: hsla(0, 0%, 100%, 0.7);
  border: 1px solid #f44336;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #b3b3b3;
  font-size: 16px;
}
.about-container__image {
  display: block;
  margin-left: 1rem;
  width: 30%;
  border: 1px solid #f44336;
  //   min-width: 5rem;
  //   max-width: 5rem;
  //   min-height: 5rem;
  //   max-height: 5rem;
  border-radius: 0.5rem;

  .about-container__image_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.5rem;
  }
}

.about-container__description {
  width: 60%;
  line-height: 2;
}

@media screen and (max-width: 1100px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container__image {
    display: flex;
    justify-content: center;
    min-width: 20rem;
    max-width: 20rem;
    min-height: 20rem;
    max-height: 20rem;
    border-radius: 0.8rem;

    .about-container__image_img {
      width: 70%;
      height: 70%;
    }
  }

  .about-container__description {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .about-container__description {
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    height: 100%;
    width: 100%;
  }
}
