.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-content: center;
  background-color: #171717;
  height: 40vh;
  width: 100vw;
  color: white;
}

.contact-container {
  background-color: #171717;
}

.contact-section-title {
  position: absolute;
  font-weight: 400 !important;
  font-size: 2.4rem;
  top: 4rem;
}

.contact-section-title:after {
  content: "";
  width: 60px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #f44336;
  left: 0;
  right: 0;
  bottom: -10px;
}

.contact-section__email {
  display: flex;
  flex-direction: row;
  color: white;
  border-radius: 80px;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
  border: 2px solid white;
  transition: 0.3s;
  &:hover {
    border: 2px solid #f44336;
  }
}

svg#Capa_1 {
  width: 50px;
  height: 30px;
}

.contact-section-links-container {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.contact-section-links-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 80px;
  border: 2px solid white;
  margin-top: 2rem;
  margin-right: 1rem;
  background-color: #171717;
  font-size: 1.5rem;
  transition: 0.3s;

  &:hover {
    border: 2px solid #f44336;
  }
}

@media screen and (max-width: 860px) {
  .contact-section-links-button {
    span {
      display: none;
    }
  }
}

@media screen and (max-width: 860px) {
  .contact-section-title {
    font-size: 2rem;
  }

  .contact-section__email {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .contact-section {
    height: 40vh;
  }
  .contact-section-title {
    font-size: 2rem;
  }

  .contact-section__email {
    transform: scale(0.8);
  }
  .contact-section-links-container {
    margin-top: 1rem;
    transform: scale(0.8);
  }
}
