#projects {
  background-color: #171717;
}

// .slanted .slanted-light svg {
//   fill: #010101;
// }
.slicerLight {
  width: 100%;
  height: 10vw;
  margin: 0;
  fill: #010101;
}

.projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 400 !important;
  margin-bottom: 4rem;
  padding-top: 4rem;
  color: white;
  position: relative;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
  margin: 0 auto;
  width: 90%;
}

.projects-title:after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #f44336;
  left: 0;
  right: 0;
  bottom: -10px;
}
