#projects {
    margin: 0 auto;
    width: 1200px;
    width: 100vw;
}

.projects-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}