.hero-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    background-color: #45246e;
    h1 span {
        font-size: 5rem;
        border: 10px solid white;
        padding: 6px 14px;
        color: white;
    }
}

.hero-container-description {
    font-size: 2rem;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#hero-container-text {
    font-size: 4rem;
    font-weight: 700;
    color: black;
}

#hero-container-name {
    font-size: 7rem;
    font-weight: bold;
    color: #7851a9;
}

.hero-container__resume {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border-radius: 80px;
    margin-top: 2rem;
    background-color: #330066;

    &:hover {
        border: 2px solid white;
    }
}


@media screen and (max-width: 600px) {
    // .hero-container {
    //     display: flex;
    //     position: relative;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-content: center;
    //     align-items: center;
    //     height: 90vh;
    //     background-color: #45246e;
    //     h1 span {
    //         font-size: 5rem;
    //         border: 10px solid white;
    //         padding: 6px 14px;
    //         color: white;
    //     }
    // }
}