.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    height: 60vh;
    background-color: #45246e;
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    max-width: 1200px;

}

@media screen and (max-width: 860px) {
    .icon-container {
        display: flex;
        flex-direction: column;
    }
}