.slicerDark {
  width: 100%;
  height: 10vw;
  margin: 0;
  fill: #171717;
  margin-bottom: 50px;
}

.skills-container {
  background-color: #010101;
  height: 60vh;
  position: relative;
  // overflow-y: auto;
}

.skills-title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  font-size: 2.4rem;
  font-weight: 400 !important;
  position: relative;
}

.skills-title:after {
  content: "";
  width: 60px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #f44336;
  left: 0;
  right: 0;
  bottom: -10px;
}

.skills-container__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.skills-box {
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #f44336;
  background-color: #171717;
  padding: 0.5rem;
  color: white;
}

.skills-box-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.skills-box-title {
  width: 100%;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  padding: 0.1rem;
}

@media screen and (max-width: 1120px) {
  .skills-container__row {
    display: flex;
    flex-direction: column;
  }
  .skills-box {
    margin-bottom: 2rem;
  }
  .skills-container {
    height: 70vh;
  }
}

@media screen and (max-width: 500px) {
  .skills-container {
    height: 80vh;
  }

  .skills-title {
    font-size: 2rem;
  }

  .skills-box {
    transform: scale(0.9);
    margin-bottom: 1rem;
  }
}
